{# /** * @file * Theme override to display a single page. * * The doctype, html, head and body tags are not in this template. Instead they * can be found in the html.html.twig template in this directory. * * Available variables: * * General
utility variables: * - base_path: The base URL path of the Drupal installation. Will usually be * "/" unless you have installed Drupal in a sub-directory. * - is_front: A flag indicating if the current page is the front page. * - logged_in:
A flag indicating if the user is registered and signed in. * - is_admin: A flag indicating if the user has permission to access * administration pages. * * Site identity: * - front_page: The URL of the front page. Use this instead of
base_path when * linking to the front page. This includes the language domain or prefix. * * Page content (in order of occurrence in the default page.html.twig): * - node: Fully loaded node, if there is an automatically-loaded node *
associated with the page and the node ID is the second argument in the * page's path (e.g. node/12345 and node/12345/revisions, but not * comment/reply/12345). * * Regions: * - page.header: Items for the header region. * -
page.primary_menu: Items for the primary menu region. * - page.secondary_menu: Items for the secondary menu region. * - page.highlighted: Items for the highlighted content region. * - page.help: Dynamic help text, mostly for admin pages. *
- page.content: The main content of the current page. * - page.sidebar_first: Items for the first sidebar. * - page.sidebar_second: Items for the second sidebar. * - page.footer: Items for the footer region. * - page.breadcrumb: Items for
the breadcrumb region. * * @see template_preprocess_page() * @see html.html.twig */ #}
<div id="page" class="page" {{ page_css |raw }}>
  <header class="header" aria-label="{{ 'Site header'|t }}">
    <div id="header" class="section section-header">
      <div class="container">
        {{ page.header }} {% if page.main_menu %}
          <div class="main-menu-wrapper">
            <div class="main-menu-wrapper-inner">
              <div class="container">
                {{ page.main_menu }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </header>
  {% if page.header_ads is not empty %}
    <div class="header-ads-wrapper">
      <div class="header-ads-wrapper-inner">
        <div class="container">
          {{ page.header_ads }}
        </div>
      </div>
    </div>
  {% endif %} {% if page.mobile_menu %}
    <div role="banner" id="mobile-menu" class="section section-mobile-menu">
      <div class="open-mobile-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="container">
        <div class="close-mobile-menu">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        {{ page.mobile_menu }}
      </div>
    </div>
  {% endif %}


  <div id="main" class="section section-main">
    <div class="container-fluid main-inner">
      {{ page.breadcrumb }}
      <div class="row">
        {% if page.sidebar_first %}
          <aside id="sidebar-first" class="sidebar-first column sidebar col-lg-{{ sidebar_first_width }} col-md-{{ sidebar_first_width }} col-sm-12 col-xs-12">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
        <div id="content" role="main" class="col-lg-{{ main_content_width }} col-md-{{ main_content_width }} col-sm-12 col-xs-12">
          {% if tabs %}
            <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
              {{ tabs }}
            </nav>
          {% endif %} {{ page.help }} {% if action_links %}
            <ul class="action-links">
              {{ action_links }}
            </ul>
          {% endif %}
          <a id="main-content" tabindex="-1"></a>
          {{ page.content }}
        </div>
        {% if page.sidebar_second %}
          <aside id="sidebar-second" class="sidebar-second column sidebar col-lg-{{ sidebar_second_width }} col-md-{{ sidebar_second_width }} col-sm-12 col-xs-12">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.footer %}
    <footer id="footer" class="section section-footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %} {% if page.footer_bottom %}
    <footer id="footer-bottom" class="section section-footer-bottom">
      <div class="container">
        {{ page.footer_bottom }}
      </div>
    </footer>
  {% endif %}
</div>
