.workspaces-toolbar-tab--is-default ,
#admin-toolbar-search-tab {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
}

.uppercase {
  text-transform: uppercase;
}

p {
  &:first-child {
    margin-top: 0;
  }
}

.hide-btn {
  display: none;
}

video {
  width: 100%;
}

textarea:focus-visible ,
input[type="text"]:focus-visible ,
.form-text:focus-visible {
  outline: 2px solid #309CFF;
  outline-offset: 0.15em;
  box-shadow: none !important;
}

.form-submit[disabled="disabled"] ,
.form-submit.disable {
  pointer-events: none;
  border: 1px solid #CFCDCD;
  background-color: #CFCDCD;
  color: #888381;
}

ul.menu {
  a {
    color: #2c2c2c;
  }
}

ul.ui-autocomplete.ui-widget {
  height: 144px;
  overflow-y: auto;
  .ui-menu-item-wrapper {
    padding: 0;
  }
}

ul.ui-widget {
  height: auto;
}

ul.tabs-menu ,
ul.tabs {
  padding-left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  a {
    display: inline-block;
    @include font-color(14px, 21px,#6D6967 ,700);
    height: 45px;
    padding: 12px 12px;
    border-radius: 4px;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    &:hover, &:focus,
    &.active {
      background-color: #FFDBC8;
      color: #1B1A1A;
    }
  }
  li{
    margin-right: 8px;
  }
}

ul.tabs-menu {
  max-width: 824px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
}

ul.pager {
  text-align: center;
  .button {
    display: inline-block;
    width: auto;
    border-radius: 4px;
    background-color: #FFDBC8;
    border: 1px solid #FFDBC8;
    color: #1B1A1A;
    padding: 8px 12px;
    @include font(12px, 18px, 600);
    letter-spacing: 0.01rem;
    &:hover,&:focus {
      background-color: #FFB691;
      border: 1px solid #FFB691;
    }
  }
}

ul.ui-widget {
  li.ui-menu-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-image: none;
    @include font(16px, 20.8px, 400);
    color: #1B1A1A;
    padding: 8px 12px;
    height: 48px;
    text-transform: capitalize;
    .icon-search {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-repeat: repeat;
      background-size: 100% 100%;
    }
    &:hover,&:focus {
      background-color: #FFDBC8;
      color: #1B1A1A;
    }
    &::marker {
      font-size: 0;
    }
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      padding: 0;
      margin-right: 12px;
      &.ui-state-active {
        border: none;
        outline: none;
        margin: 0 12px 0 0;
        background-color: transparent;
      }
    }
    .ui-state-active {
      background-color: transparent;
      outline: none;
      border: none;
      color: #1B1A1A;
    }
  }
}

nav.menu--main,
nav.menu--footer ,
nav.menu--right-header-menu {
  ul.menu {
    text-align: center;
    li {
      display: inline-block;
      padding: 0;
      &:hover, &:focus {
        a:before {
          width: calc(100% - 28px);
        }
      }
      &.is-active a:before {
        width: calc(100% - 28px);
        background-color: #FF8446;
        transition: all 0.1s linear;
        @media (max-width: 991px) {
          display: none;
        }
      }
      &.menu-item--expanded {
        position: relative;
        &:hover ,&:focus {
          ul.menu {
            display: block;
          }
        }
        ul.menu {
          display: none;
          position: absolute;
          top: 100%;
          min-width: 200px;
          border-radius: 4px;
          z-index: 1;
          background-color: #fff;
          filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
          -webkit-backdrop-filter: blur(0);
          &:hover ,&:focus {
            display: block
          }
          li {
            width: 100%;
            height: 48px;
            text-align: left
          }
          a {
            @include font(16px, 20.8px, 400);
            display: inline-block;
            width: 100%;
            padding: 13.5px 12px;
            text-transform: capitalize;
            &:before {
              display: none;
            }
            &:hover,&:focus {
              background-color: #FFDBC8;
            }
          }
        }
      }
    }
    a {
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 21px;
      padding: 7px 14px;
      letter-spacing: 0.7px;
      text-decoration: none;
      position: relative;
      top: 2px;
      font-weight: 700;
      color: #1B1A1A;
      &:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 14px;
        width: 0;
        display: inline-block;
        height: 3px;
        background-color: transparent;
        transition: all 0.1s linear;
      }
      &.is-active,
      &:hover,
      &:focus {
        &::before {
          width: calc(100% - 28px);
          background-color: #FF8446;
          transition: all 0.1s linear;
        }
      }
    }
  }
}

nav.menu--main {
  ul.menu{
    li.menu-item--expanded{
      ul.menu{
        .menu-item{
          &:first-child{
            a{
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
            }
          }
          &:last-child{
            a{
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
        a{
          top: 0;
        }
      }
    }
  }
}

nav.menu--main {
  >ul.menu >li.menu-item {
    padding: 16px 0;
  }
}

nav.menu--footer {
  ul.menu {
    li {
      margin: 0 0.625em;
    }
    a {
      padding: 3px;
    }
  }
}

nav.menu--account {
  ul.menu {
    background: #0B0B0B;
    li.menu-item {
      padding-top: 0;
    }
    a {
      position: relative;
      &[href="/user"] {
        display: flex;
        align-items: center;
        &:before {
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-right: 8.5px;
          background-size: contain;
          background-position: center center;
        }
      }
    }
  }
}