article.contextual-region {
  div > {
    ul + h2,
    p + h2 {
      margin-top: 51px;
      @media (max-width: 991px) {
        margin-top: 30px;
      }
    }
  }

  h2 {
    @include font(24px, 30px, 700);
    margin-bottom: 51px;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 32px;
    }
  }

  h4 {
    @include font(20px, 28px, 700);
    margin-top: 0;
    margin-bottom: 20px;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 23px;
    }
  }

  .txt_luidif {
    @include font(20px, 28px, 400);
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

}

article {
  h1 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-weight: 700;
    color: var(--black);
  }

  &.node--type-text {
    text-align: center;
    padding: 100px 150px;
    position: relative;

    .field--name-field-description {
      margin-top: 30px;
      padding: 0 97px;
      font-size: 16px;
      line-height: 30px;
      color: var(--dark-gray);

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }

    &.node--color--white {
      background-color: var(--white);

      .field--name-field-description {
        p {
          color: var(--dark-gray);
        }
      }
    }

    &.node--color--red {
      background-color: var(--dark-red);

      .field--name-field-description:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100vw;
        height: 100%;
        background-color: var(--dark-red);
      }

      .field--name-field-description:after {
        left: 100%;
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100vw;
        height: 100%;
        background-color: var(--dark-red);
      }

      .field--name-field-description {
        p {
          color: var(--white);
        }
      }
    }

    .field--name-title {
      margin: 0;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      font-weight: 700;
      color: var(--black);
    }

  }

  &.node--type-pillars {
    text-align: center;
    padding: 100px 150px;

    .node__content {
      .field--name-field-description {
        padding: 50px 97px;
        font-size: 16px;
        line-height: 30px;

        p {
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          color: var(--dark-gray);
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .field--name-field-pillar-items {
        margin-top: 30px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit,minmax(165px,1fr));


        > .field__item {
          flex: 25%;
          padding: 39px 21px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          border-radius: 20px;
          background-color: var(--light-gray);
        }
      }
      .field--name-field-button {
        width: fit-content;
        margin: 100px auto 0;
        a {
          &:focus {
            box-shadow: none;
          }
          &:hover {
            background: var(--dark-red);
            border-color: var(--dark-red);
          }
          width: 250px;
          height: 60px;
          display: grid;
          place-items: center;
          background: var(--secondary-black);
          border-color: var(--secondary-black);
          color: #fff;
          text-decoration: none;
          line-height: 38px;
          font-weight: 400;
          text-align: center;
          cursor: pointer;
        }
      }
    }

  }

  &.node--type-pillar {
    .node__content {
      h3 {
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
      }
    }

  }

  &.node--type-highlight {
    position: relative;
    padding: 100px 150px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100%;
      background-color: var(--light-gray);
    }

    &:after {
      left: 100%;
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100%;
      background-color: var(--light-gray);
    }


    background-color: var(--light-gray);

    .node__content {
      display: flex;

      .node--position {
        flex: 50%;

        &.node--position--left {
          padding-right: 10%;
        }

        .field--name-field-image {
          img {
            object-fit: contain;
            max-height: 500px;
          }

        }

        .field--name-field-description, .field--name-field-subtitle {
          margin: 0;
          color: var(--dark-gray);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }

  &.node--type-core-values {
    position: relative;
    margin-top: 100px;
    padding: 100px 300px;
    background-color: var(--light-gray);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100%;
      background-color: var(--light-gray);
    }

    &:after {
      left: 100%;
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100vw;
      height: 100%;
      background-color: var(--light-gray);
    }

    .field--name-field-description {
      p {
        margin: 0;
      }
    }

    h1 {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 50px;
    }

    .field--name-field-values {
      .field__item:not(:last-child) {
        margin-bottom: 40px;
      }

      margin-top: 50px;
    }
  }

  &.node--type-core-value {
    .node__content {
      display: flex;
      padding: 40px 30px;
      border-radius: 20px;
      background-color: var(--white);

      .field--name-field-image {
        width: 130px;
        height: 130px;
      }

      .node--position--left {
        display: block;
        margin-right: 30px;
      }

      .node--position--right {
        h3 {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: var(--black);
          font-family: auto, serif;
        }
      }
    }
  }

  &.node--type-carousel {
    padding: 100px 150px;

    h1 {
      font-size: 30px;
      line-height: 38px;
      margin-bottom: 100px;
    }

    .node__content {
      position: relative;
      width: 100%;

      .node--carousel--arrows {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 110%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;

        button:active {
          border: none;
          outline: none
        }

        .slick-prev {
          width: 50px;
          height: 50px;
          border: none;
          background-color: white;
          font-size: 0;
          background-image: url('../images/arrow-left.svg');
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }

        .slick-next {
          width: 50px;
          height: 50px;
          border: none;
          background-color: white;
          font-size: 0;
          background-image: url('../images/arrow-right.svg');
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }

    }

  }

  &.node--type-carousel-item {

    .node__content {
      display: flex;
    }

    .node--position--left {
      position: relative;
      width: 300px;
      border-radius: 20px;
      overflow: hidden;
      aspect-ratio: 3/4;
    }

    .node--position--right {
      margin-left: 30px;
      flex: 2;
      overflow: hidden;

      h1 {
        color: var(--light-gray);
        line-height: 65px;
        font-size: 60px;
        font-weight: 700;
        text-align: left;
        margin: 0;
      }

      h3 {
        font-size: 30px;
        line-height: 40px;
        color: var(--black);
      }

      .field--name-field-job {
        margin: 5px 0 20px;
        font-size: 20px;
        line-height: 30px;
      }

      .field--name-field-description {
        p {
          font-style: italic;
        }
      }
    }
  }
}