.region {
  &.region-header {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    .menu--main {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;
    }
    .block-system-branding-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      width: 100px;
      height: 100px;
      transition: .4s;
    }
  }
}