.container-fluid {
  width: 100%
}

@media (min-width: 576px) {
  .container-fluid {
    max-width:576px
  }
}

@media (min-width: 768px) {
  .container-fluid {
    max-width:768px
  }
}

@media (min-width: 1024px) {
  .container-fluid {
    max-width:1024px
  }
}

@media (min-width: 1380px) {
  .container-fluid {
    max-width:1380px
  }
}

@media (min-width: 1600px) {
  .container-fluid {
    max-width:1600px;
  }
}


.section-header {

}

.section-header,
.section-footer {
  font-size: 16px;
  line-height: 21.6px;
  ul.menu {
    margin: 0;
  }
}

.section-footer {
  line-height: 20.8px;
}

.section-header {
  position: relative;
  z-index: 5;
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 31px;
  }
}

.section-main {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 4;
  .block-views {
    .views-element-container-fluid {
      padding: 0;
    }
  }
  .block-local-tasks-block {
    padding-top: 0;
    padding-bottom: 0;
  }
  .block-fullwidth {
    padding-left: 0;
    padding-right: 0;
  }
}

.region-main-menu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .menu--main {
    display: flex;
    order: -1;
    flex: 1;
    position: relative;
    z-index: 5;
  }
}

.region-headline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .block-user-block {
    ul.menu {
      background: #0B0B0B;
      li {
        &:hover,&:focus {
          ul.menu {
           display: block; 
          }
        }
      }
      span {
        cursor: pointer;
      }
      ul.menu {
        display: none;
        position: absolute;
        top: 33px;
        right: 0;
        min-width: 204px;
        width: 100%;
        border-radius: 4px;
        background: #fff;
        filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.12)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.2));
        z-index: 1;
        &.show {
          display: block;
        }
        li {
          position: relative;
          &:last-child::before {
            display: none;
          }
          &::before {
            position: absolute;
            content: '';
            bottom: 0;
            left: 19px;
            width: calc(100% - 35px);
            height: 1px;
            background: #EFEFEF;
          }
        }
        a {
          text-transform: uppercase;
          padding: 21px 22px;
          color: inherit;
          font-weight: 600;
          display: inline-block;
          width: 100%;
          opacity: 1;
        }
      }
      .user-block-name {
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          width: 11px;
          height: 11px;
          margin-right: 8.5px;
          background-size: contain;
          background-position: center center;
        }
      }
    }
  }
}

.main-menu-wrapper-inner {
  width: 100%;
}