@mixin font-color($font-size, $line-height, $color, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;
}

@mixin font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}