:root {
  --white: #fff;
  --black: #000;
  --secondary-black: #111;
  --third-black: #333;
  --light-gray: #f3f3f3;
  --normal-gray: #f8f8f8;
  --dark-red: #870000;
  --dark-gray: #717171;
  --border-gray: #dcdcdc;
  --black-gray: #333
}

// Font
$font-title: "Fenice Pro ITC";

$color-theme: #c00;
// $color-gray: #adadad;
$text-color: #1B1A1A;
$text-color-bold: #2c2c2c;

$bg-block: #f9f9f9;
$orange-line: #FFA476;
$color-theme: #c00;
$color-gray: #adadad;
$darker-pink: #D72B53;
$text-color-bold: #2c2c2c;
$title-color: #1B1A1A;

$desktop: 1200px;
$tablet-ht: 992px; // Tablet Horizontal
$tablet-vt: 768px; // Tablet Vertical
$mobile: 640px;
$mobile-md: 480px;
$mobile-sm: 360px;
$mobile-xs: 320px;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
) !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
                (
                        0: 0,
                        1: (
                                $spacer * 0.25,
                        ),
                        2: (
                                $spacer * 0.5,
                        ),
                        3: $spacer,
                        4: (
                                $spacer * 1.5,
                        ),
                        5: (
                                $spacer * 3,
                        ),
                        10: (
                                $spacer * 0.625,
                        ),
                        15: (
                                $spacer * 0.9375,
                        ),
                        20: (
                                $spacer * 1.25,
                        ),
                        25: (
                                $spacer * 1.5625,
                        ),
                        30: (
                                $spacer * 1.875,
                        ),
                        40: (
                                $spacer * 2.5,
                        ),
                        50: (
                                $spacer * 3.125,
                        ),
                        60: (
                                $spacer * 3.75,
                        ),
                ),
                $spacers
);
$zindex: (
        modal: 9000,
        overlay: 8000,
        dropdown: 7000,
        header: 6000,
        footer: 5000,
);
$list-gutters: (
        5: 5px,
        10: 10px,
        20: 15px,
) !default;
